<h3>New Idea</h3>
<div class="newIdea">
  <form id="newIdeaForm" accept-charset="UTF-8" method="post">
    <input type="text" name="idea[title]" placeholder="Title" id="newIdeaTitle">
    <textarea name="idea[body]" placeholder="Body" id="newIdeaBody"></textarea>
    <input type="submit" value="Create" id="newIdeaCreate" class="tiny radius button">
  </form>
</div>

<h3>Current Ideas</h3>
<div class="currentIdeas"></div>

<!--Edit Idea Form-->
<div>

</div>





